

<!--
<app-index-site></app-index-site>

-->



<!--
<app-signup-form-bootstrap></app-signup-form-bootstrap>

-->

<!--
<app-page-principale-du-stage-selectionne></app-page-principale-du-stage-selectionne>

-->

<!--

<app-login-bootstrap-style></app-login-bootstrap-style>
-->

<!--

<app-interface-admin></app-interface-admin>
-->

<!--

<app-index-site></app-index-site>

-->
<!--

<app-choix-de-stages-par-specialite></app-choix-de-stages-par-specialite>

-->

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
