<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="assets/BootstrapDependencies/bootstrap.min.css">
  <link rel="stylesheet" href="assets/StylingCss/styleStagiereEnFrance.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha484-AYmEC4Yw5cVb4ZcuHtOA94w45dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  <title>Mon Stage En France</title>
</head>
<body>
<header class="container header-container-choix-specialite-page ">
  <section class="row  header-section  justify-content-around justify-content-sm-center justify-content-md-around ">
    <a href="./indexSite.html" class="pink-theme header-link col-4 col-sm-4 col-md-4 " ><h2 class="display-tablette">Accueil</h2> <i class="fas fa-home"></i></a>
    <a href="" class="pink-theme header-link col-4 col-sm-4 col-md-4 offset-2 offset-sm-2 col-md-offset-6 col-md-push-6 "><h2 class="display-tablette">Sign up </h2><i class="fas fa-user"></i></a>
    <a href="" class="pink-theme header-link display-tablette col-md-4  offset-md-7 "><h2 class="display-tablette ">Login </h2><i class="fas fa-sign-in-alt"></i></a>
  </section>
</header>
<section class="container main-title-section">
  <article class="row main-title-section-article">
    <h1 class="col-12 col-sm-12 col-xl-12">Mon Stage En France</h1>
    <h2 class="col-12 col-sm-12 col-xl-12">Informatique :</h2>
  </article>
</section>

<section class="grid-main-section-choix-technologie ">
  <a href="" class="pink-theme choix-de-technologie-link text-center ">web</a>
  <a href="" class="pink-theme choix-de-technologie-link text-center ">Node.js</a>
  <a href="" class="pink-theme choix-de-technologie-link text-center ">React</a>
  <a href="" class="pink-theme choix-de-technologie-link text-center ">Python</a>
  <a href="" class="pink-theme choix-de-technologie-link text-center ">java/jee</a>
  <a href="" class="pink-theme choix-de-technologie-link text-center ">C#/.Net</a>
</section>
<section class="grid-main-section-liste-stages ">
  <article class="grid-main-section-stage-description-detaillee-numero-pair ">
    <h3 class="titre-de-section-stage-description-detaillee ">DevOps - Secteur IA, Deep Learning F/H</h3>
    <h4 class="nom-entreprise-de-section-stage-description-detaillee ">SEPT LIEUES</h4>
    <h5 class="lieu-stage-description-detaillee ">Paris 1er (75)</h5>
    <p class="Paragraphe-de-section-stage-description-detaillee ">Startup française de 50 collaborateurs qui conçoit des logiciels spécialisés dans la reconnaissance d'images.</p>
    <p class="Paragraphe-de-section-stage-description-detaillee ">Startup française de 50 collaborateurs qui conçoit des logiciels spécialisés dans la reconnaissance d'images.</p>
  </article>
  <article class="grid-main-section-stage-description-detaillee-numero-impair ">
    <h3 class="titre-de-section-stage-description-detaillee ">DevOps - Secteur IA, Deep Learning F/H</h3>
    <h4 class="nom-entreprise-de-section-stage-description-detaillee ">SEPT LIEUES</h4>
    <h5 class="lieu-stage-description-detaillee ">Paris 1er (75)</h5>
    <p class="Paragraphe-de-section-stage-description-detaillee ">Startup française de 50 collaborateurs qui conçoit des logiciels spécialisés dans la reconnaissance d'images.</p>
    <p class="Paragraphe-de-section-stage-description-detaillee ">Startup française de 50 collaborateurs qui conçoit des logiciels spécialisés dans la reconnaissance d'images.</p>
  </article>
</section>

<script src="assets/BootstrapDependencies/jquery.slim.min.js" ></script>
<script src="assets/BootstrapDependencies/bootstrap.min.js"></script>
<script src="assets/JsCode/scriptStagiereEnFrance.js"></script>
</body>
</html>

